*.code-workspace
data
__pycache__
.vscode
.ipynb_checkpoints
train.log
inference.log
/temp_run.sh
*.tar
!pretrained_models/**/*.tar
saves/
old_saves/
gan_saves/
saves_old/
old_saves_1/
old_saves_2/
new_saves/
recent_saves/
runs/